<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Starting Point</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .center-button {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>

</head>
    <body style="with">
        <a class="btn btn-info center-button" role="button" href="https://accounts.sandbox.yes.com/?client_id=sandbox.yes.com:0b59836f-5c46-46ff-ad84-853405c6f26e">yes&reg;</a>
    </body>
</html>